@value colours: "./variables/colours.css";
@value breakpoints: "./variables/breakpoints.css";
@value spacers: "./variables/spacers.css";
@value colour-white, colour-purple from colours;
@value breakpoint-large from breakpoints;
@value spacer-small, spacer-large from spacers;

.main {
	background-color: colour-purple;
	color: colour-white;
	height: spacer-large;
	min-width: spacer-large;
	width: fit-content;
	padding: 0 spacer-small;
	border-radius: 15%;
	-webkit-box-shadow: -2px 4px 8px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 4px 8px 0px rgba(0,0,0,0.75);
	box-shadow: -2px 4px 8px 0px rgba(0,0,0,0.75);
	cursor: pointer;
}
