@value colours: "./variables/colours.css";
@value breakpoints: "./variables/breakpoints.css";
@value spacers: "./variables/spacers.css";
@value typography: "./variables/typography.css";
@value typography-paragraph from typography;
@value colour-black, colour-white from colours;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: typography-paragraph;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: colour-black;
    background: colour-white;
  }
}
