@value colours: "./variables/colours.css";
@value breakpoints: "./variables/breakpoints.css";
@value spacers: "./variables/spacers.css";
@value colour-black, colour-light-grey from colours;
@value breakpoint-large from breakpoints;
@value spacer-small, spacer-xl from spacers;

.main {
	background-color: colour-light-grey;
	color: colour-black;
	height: calc(100vh - 128px);
}

.content {
	max-width: breakpoint-large;
	width: 80%;
	margin: auto;
	padding-bottom: spacer-small;
}

.header,
.footer {
	height: spacer-xl;
}
